{% extends 'base.html' %}
{% block content %}
<div id="page-wrapper">
    
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <div class="col-xs-12">
            {% if user.is_authenticated %}
                <h1 class="page-header">You are logged in as: {{ user.username }}</h1>
                <p> Your hashed password is: {{ user.password }}</p>
                <p> Go and vandalize some pages!<a href="/injection/logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a></p>
            {% else %}
                <h1 class="page-header">You are not logged in</h1>
                <p>(You need to be logged in to make any submissions!). If you need to create a team, use the tabs to the left.</p>
            {% endif %} 
        </div>
        
        {% if not user.is_authenticated %}
        <div class="col-xs-12">
        <form action="/injection/login" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Team Name</label>
                <input class="form-control" name="username">
                <p class="help-block">If you don't have one, ask Quan</p>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
                <p class="help-block">If you forget, ask Quan</p>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <button type="reset" class="btn btn-default">Clear Form</button>
        </form>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}